a:link {
    text-decoration: none;
    color: #EE5135;

}

a:visited {
    text-decoration: none;
    color: #EE5135;

}

a:hover {
    text-decoration: none;
    color: grey;

}

a:active {
    text-decoration: none;
    color: #EE5135;

}

h1 {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 7em;
    color: #2E4053;

}

body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 34px auto;
    width: 1250px;
    text-align: center;
}


header {
    background-color: #FFF;
    font-family: 'Abril Fatface', cursive;;
    font-style: normal;
    min-height: 60px;
    text-align: left;

}

nav ul {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    list-style-type: none;
    text-align: center;
    font-size: 2em;

}


nav li {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2.5em;
    margin-top: 30px;
}

small {
    text-align: center;
    font-size: 1em;
}

