h1{
    font-family:'Rokkitt', serif;
    text-align: center;
    font-size: 60px;
    color:orange;

}

p{
    font-family: 'Rokkitt', serif;
    text-align: left;
    font-size: 25px;
    color:cornflowerblue;
    margin-left: 2.5%;
}

h2{
    font-family:'Rokkitt', serif;
    text-align: center;
    font-size: 40px;
    color:orange;
}

.link{
    text-decoration: none;
    text-align: center;
    color:grey;
    font-size: 35px;
    margin-left: 40%;
    
}

a:hover {
    text-decoration:none;
    color: orange;
    
}

.picture{
    margin-left: 30%;
}