a:link {
    text-decoration: none;
    color: #EE5135;

}

a:visited {
    text-decoration: none;
    color: #2E4053;

}

a:hover {
    text-decoration: none;
    color: grey;
}

a:active {
    text-decoration: none;
    color: #2E4053;

}

.home {
    width: 100%;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 6em;
    text-decoration: none;
    color: #2E4053;

}

.title {
    width: 100%;
    text-align: center;
    font-family: 'Francois One', sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: #EE5135;
    padding-bottom: 20px;
}

.description {
    width: 100%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: grey;
}

li {
    display: inline;
    /*  text-decoration: none;
    color: #EE5135;*/
}

.nav {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: #EE5135;
}

/*a {
    text-decoration: none;   
}*/

footer {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px;
}

.download {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #EE5135;
}

.video {
    text-align: center;
}

.video-link {
    text-align: center;
    margin-top: 30px;
}

.audio {
    text-align: center;
}

.audio-link {
    text-align: center;
    margin-top: 30px;
}


/* smartphone vertical orientation: 320px to +/- 479px*/

@media only screen and (min-width: 20em) and (max-width: 29em) {

    h1 {
        max-width: 100%;

    }

    body {
        max-width: 100%;
    }

    h2 {
        max-width: 100%;
    }

    h3 {
        max-width: 100%;
    }


    h4 {
        max-width: 100%;
    }

    h5 {
        max-width: 100%;
    }

    h6 {
        max-width: 100%;

    }

    header {
        max-width: 100%;

    }

    nav ul {
        max-width: 100%;

    }


    nav li {
        max-width: 100%;
    }



    article {
        max-width: 100%;

    }

    sticker {
        max-width: 100%;
    }


    section {
        max-width: 100%;
    }


    footer {
        max-width: 100%;


    }


    .figure {
        max-width: 100%;

    }

    .left {
        max-width: 100%;
    }

    .right {
        max-width: 100%;


    }

    p {
        max-width: 100%;

    }


    .contactbox {
        max-width: 100%;

    }
}


/* smartphone and tablet: 480px to +/- 719px */

@media only screen and (min-width: 30em) and (max-width: 59em) {

    h1 {
        max-width: 100%;

    }

    body {
        max-width: 100%;
    }

    h2 {
        max-width: 100%;
    }

    h3 {
        max-width: 100%;
    }


    h4 {
        max-width: 100%;
    }

    h5 {
        max-width: 100%;
    }

    h6 {
        max-width: 100%;

    }

    header {
        max-width: 100%;

    }

    nav ul {
        max-width: 100%;

    }


    nav li {
        max-width: 100%;
    }



    article {
        max-width: 100%;

    }

    sticker {
        max-width: 100%;
    }


    section {
        max-width: 100%;
    }


    footer {
        max-width: 100%;


    }


    .figure {
        max-width: 100%;

    }

    .left {
        max-width: 100%;
    }

    .right {
        max-width: 100%;


    }

    p {
        max-width: 100%;

    }


    .contactbox {
        max-width: 100%;

    }
}
