*{
    margin:0;
    padding:0;
}

body {
    font-family: Crimson-text
    font-size: 100%;
    margin: 0 auto;
    width: 900px;

}

header {
    background-color: #E6E6E6;
}


nav {
    background-color: #FAFAFA;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;

/*
    margin-top: -25px;
    margin-bottom: -25px;
*/
}

li {
list-style-type: none;
}


.nav-links:link {
    color: #9CCC65;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #FFCC80;
    text-decoration:none;
}

.nav-links:hover {
    color: lightblue;
}

.current-page {
    font-size: 1.4em;
    font-weight: bold;
}

article {
    background-color: #FAFAFA;
    padding-bottom: 20px; 
}

.reference-image {
    left: 150px;
    padding: 10px 10px 15px 0;
    position: relative;
}

h1 {
    background-color: #FAFAFA;
    color: #FF8A65;
    font-family: Crimson-text;
    font-size: 2.1875em;
    padding: 25px 25px 25px 15px;
}

h2 {
    background-color:#FAFAFA;
    color: #FF8A65;
    font-family: Crimson-text;
    font-size: 1.75em;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-top: 20px;
}

h3 {
    background-color:#FAFAFA;
    color: #FF8A65;
    font-family: Crimson-text;
    font-size: 1.5em;
    font-style: oblique;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 15px;

}
p {
    color: #4C4C4C;
    font-size: .9375em;
    padding: 20px;
    padding-left: 40px;
}

footer{
    text-align: center;
}